* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video{
position:absolute;
z-index:-1;
min-width:100vw;
min-width:100vh;
display: flex;
justify-content: center;
align-items: center;
height:100vh;
}

header{
padding:20px;
height:30px;
}

a{
 text-decoration:none;   
 color: black;
 gap:100px;
 top: 500px;
}

.logo1{
width:10px;
}